@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
  .border {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
  .invert{
    display: none;
  }
}


.dropdown{
  border: none !important;
}
